.DS_Store
.bsp/
.bloop/
.idea/
.metals/
project/metals.sbt
.vscode/
__pycache__/
*.pyc
build/
generated/
generated-trace/
generated-platform/
out/
project/project/
project/.bloop/
project/target/
target/
test_run_dir/
*.anno.json
*.fir
*.fst
*.vcd
*.wlf
*.jou
*.log
*.rpt
*.str
*.xpr
*.zip
sail_smt_cache
!toolchain.lock.json
