.DS_Store
.bsp/
.idea/
.metals/
.vscode/
__pycache__/
*.pyc
build/
generated/
out/
project/project/
project/target/
target/
test_run_dir/
*.anno.json
*.fir
*.fst
*.vcd
*.wlf
*.jou
*.log
*.rpt
*.str
*.xpr
*.zip
!toolchain.lock.json
